@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-1: #0b0d0f;
  --dark-2: #16181f;
  --darkOrange: #cd9933;
  --darkKhaki: #999966;
  --light-1: #efefef;
}

.place-login {
  min-height: 100vh;
  padding-top: 4vh;
}

.cont-login {
  max-width: 452px !important;
  padding: 30px 52px 29px !important;
}

.title-page-login {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

.btn-accederLogin {
  background-color: #183d3d;
  display: block;
  width: 100%;
}
.btn-accederLogin:hover {
  background-color: #5c8374;
}

.subtitle-page-login {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bgLogin {
  background-image: url(/public/background01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-dark-01 {
  background-color:var(--dark-1) ;
}
