@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Great+Vibes&display=swap");

h1 {
  font-family: "Great Vibes", cursive;
  color: rgba(255, 255, 0, 0.644);
}
h3,
p {
  font-family: "Andika", sans-serif;
  color: rgba(255, 255, 0, 0.644);
}
