h1,
h2 {
  font-family: "Great Vibes", cursive;
  color: rgba(255, 255, 0, 0.644);
}

ul {
  color: lightgoldenrodyellow;
}

@media (max-width: 576px) {
  Card.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
