.bg-Admin {
  background-color: rgb(228, 226, 226);
  transition: 1s;
}

.bg-Admin:hover {
  background-color: rgb(187, 187, 187);
}

.img-item {
  width: 130px;
  height: 100px;
  cursor: pointer;
}

.bg-list {
  cursor: pointer;
}

.img-crear-menu {
  width: 100%;
  height: 100px;
}

.bg-card-crear-menu {
  background-color: whitesmoke;
}

.btn-filtrado-lista-menu {
  cursor: pointer;
  transition: 0.8s;
}

.btn-filtrado-lista-menu:hover {
  background-color: whitesmoke;
}

.btn-lista-pedido {
  cursor: pointer;
  transition: 0.8s;
}

.btn-lista-pedido:hover {
  background-color: whitesmoke;
}

.btn-lista-usuario {
  cursor: pointer;
  transition: 0.8s;
}

.btn-lista-usuario:hover {
  background-color: whitesmoke;
}
